<!DOCTYPE html>
<html>
<head>
    <title>Книга Рецептов</title>
</head>
<body>
    <h1>Наши Рецепты</h1>

    {% for recipe in recipes %}
        <div style="border: 1px solid black; padding: 10px; margin: 10px;">
            
            <h2>{{ recipe.title }}</h2>
            
            <p><strong>Автор:</strong> {{ recipe.author.username }}</p>
            
            <p>{{ recipe.description }}</p>
            
            <p><em>Время готовки: {{ recipe.cooking_time }} мин.</em></p>
        </div>
    {% endfor %}

</body>
</html>